<html>

	<h1 align="center">Self made home page for easy use</h1>

	<div align="center">
	<h2><a href="/login">Login</a><br/></h2>
    <h2><a href="/login/registration">Registration</a></h2>
	</div>
	

</html>